{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Список дел
{% endblock %}

{% block extra %}
    <link rel="stylesheet" href="{% static "todo/todo.css" %}">
{% endblock %}

{% block content %}

        <ol>
            {% for todo in  list %}

                {% if todo.completed %}
                    <li class="positive">{{ todo.description }}
                        {% if user == todo.author %}
                            <a href="{% url 'todo:update_todo' pk=todo.id %}">{{ todo.id }}</a>
                        {% else %}
                            <span>{{ todo.id }}</span>
                            </li>
                        {% endif %}
                {% else %}
                    <li class="negative">{{ todo.description }}
                    {% if user == todo.author %}
                            <a href="{% url 'todo:update_todo' pk=todo.id %}">{{ todo.id }}</a>
                        {% else %}
                            <span>{{ todo.id }}</span>
                            </li>
                        {% endif %}
                    </li>
                {% endif %}

            {% endfor %}
        </ol>
    {% if not user.is_anonymous %}
         <form action="{% url "todo:todo_list" %}" method="post">
          <div class="form-group">
            {% csrf_token %}
            {{ form }}
          </div>

        </form>
    {% endif %}

{% endblock %}
