{% load static %}
<html>
    <meta name="csrf" content="{{ csrf_token }}">

    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static "core/bootstrap/dist/css/bootstrap.css" %}">

        {% block extra %}{% endblock %}
    </head>

    <body>


        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">

              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'todo:todo_list' %}">Список дел<span class="sr-only">(current)</span></a>
                  </li>
                {% if not user.is_anonymous %}
                    <li class="nav-item"><a class="nav-link" href="#">{{ user }}</a></li>
                {% endif %}
                    {% if user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{% url "core:add_user" %}">Создать аккаунт</a></li>
                        <!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                  Войти
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Войти</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body ajaxlogin" data-url="{% url "core:login" %}">
                                      </div>
                                    </div>
                                  </div>
                                </div>

                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url "core:logout" %}">Выйти</a></li>
                    {% endif %}
                </ul>
              </div>
            </nav>

        </div>




        {% block content %}{% endblock %}

        <footer>
            {% block footer %}
                <div class="footer">Автор: Машурин Владислав</div>
            {% endblock %}
        </footer>

        <script src="{% static "core/jquery/dist/jquery.js" %}"></script>
        <script src="{% static "core/js/base.js" %}"></script>
        <script src="{% static "core/bootstrap/dist/js/bootstrap.js" %}"></script>

    </body>

</html>

